@import '../fonts/Fonts.css';


/*.table-view * {*/
/*    -fx-font-size: 14px;*/
/*}*/


.table-view{
    -fx-font-family: 'Open Sans';
}

.table-view .column-header-background * {
    -fx-background-color: #ffffff;
    -fx-font-size: 13;
}

.table-view .column-header-background {
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 0.1em 0;
}

.table-view .column-header-background .nested-column-header .label .text {
    -fx-text-fill: #A7B6C1;
}

.table-view .table-column {
    -fx-pref-height: 3em;
    -fx-border-width: 0 0.1em 0 0;
    -fx-border-color: #ffffff;
}

.table-view .index-column {
    -fx-alignment: center;
    -fx-background-color: #ffffff;
}


/*To remove selected raw in the table*/
.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}

.table-view:focused {
    -fx-focus-color: transparent;
}
.table-row-cell {
    -fx-font-size: 14;
    -fx-border-color: #ffffff;
    -fx-table-cell-border-color: #373737;
    -fx-table-cell-border-width: 0.1em;
    -fx-border-width: 0 0 0.1em 0;
}

.table-view .placeholder, .table-view .placeholder .label {
    -fx-background-color: #ffffff;
}

.null-style {
    -fx-text-fill: #7e7e77;
}

.text-area {
    -fx-text-fill: #B5B5B0;
    -fx-border-width: 0.1em;
}


.scroll-bar .thumb {
    -fx-background-color: #5B5B5B;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.scroll-bar .decrement-button .decrement-arrow, .scroll-bar .increment-button .increment-arrow {
    visibility: false;
}


/*also if you want to remove the blue glow when table is selected just disable the Focus Traversable of the table*/

/*To remove scroll bar*/
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
